@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html{
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

/* HEADER */

.header{
    background-color: #545251;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    width: 3.5rem;
    height: 3.5rem;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.nav__bar{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 5rem;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 200;
}

/* MAIN---------------------- MAIN*/

.hero__contenedor{
    height: 100dvh;
    background-image: url(../img/Frame\ 5.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.h2__fiordea,
.h3__arteycostura,
.h4__fiordea{
    margin-block: 8px;
    color: #ffffffd2;
}

.h2__fiordea{
    font-size: 4rem;
    font-weight: 200;
}

.h3__arteycostura{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 200;
}

.h4__fiordea{
    font-size: 1rem;
    color: #e2e2e2d8;
    font-weight: 200;
}

.span__fiordea{
    color: #fff;
    font-weight: 300;
}

.contenedor__h4{
    width: 600px;
    text-align: center;
    line-height: 1.5;
}
/*NOSOTROS ---------------------- NOSOTROS*/

.nosotros{
    scroll-margin-top: -16px;
    background-color: #5c5958;
    height: auto;
    padding: 50px;
}

.h3__nosotros,
.info__nosotros{
    color: #fff;
}

.h3__nosotros{
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 40px;
}

.info__nosotros{
    line-height: 2.5;
    font-size: 14px;
}

/*PRODUCTOS ---------------------- PRODUCTOS*/

.productos{
    background-color: #d4d4d4e0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 50px;
    scroll-margin-top: -16px;
}

.card{
    background-color: #ecebebe0;
    box-shadow: -11px 10px 21px 1px rgb(156, 156, 156);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #000;
    margin-bottom: 60px;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.imagen__card{
    height: 100%;
    width: 230px;
}

.titulo__card,
.precio__card{
    margin-block: 5px;
    text-align: center;
}

.titulo__card{
    font-size: 1rem;
    font-weight: 400;
}

.precio__card{
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: rgb(39, 143, 39);
}


/*ICONO WSP ---------------------- ICONO WSP*/

.icono__wsp{
    z-index: 1;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    width: 2.2rem;
    height: 2.2rem;
}

