@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Julius Sans One", sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* HEADER */

.header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
}

.logo{
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.nav-bar{
    background: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 4rem;
}

.nav__link{
    color: #ffffffb6;
    text-decoration: none;
    transition-duration: 0.5s;
    letter-spacing: 2px;
}

.link__hover {
    border: 1px solid transparent;
    padding: 0.4rem;
    border-radius: 10px;
}

.link__hover:hover {
    border: 1px solid #fff;
    color: #fff;
}

/* MAIN---------------------- MAIN*/

.hero__main{
    height: 100vh;
    background-image: url(../img/Frame\ 5.png);
    background-position: center;
    background-size: cover;
    color: #ffffffb6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
}

.h2__nosotros,
.h3__nosotros,
.link__nosotros{
    margin: 10px;
}

.h2__nosotros{
    font-size: 5.5rem;
    font-weight: 400;
}

.h3__nosotros{
    font-size: 2rem;
    font-weight: 200;
}

.link__nosotros{
    color: #ffffffb6;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 20px;
    border-radius: 10px;
    transition-duration: .5s;
    letter-spacing: 2px;
    margin-top: 20px;
}

.link__nosotros:hover{
    background-color: #535151b6;
    color: #fff;
}

/* MAIN---------------------- NOSOTROS*/

.hero__nosotros{
    height: 100vh;
    background-color: #e0e0e0;
    scroll-margin-top: 100px;
}

.contenedor__sobremi{
    padding: 30px;
    text-align: center;
}

.titulo__sobremi{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.texto__sobremi, 
.texto__sobremi2{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2;
    font-weight: 600;
    color: #1d1d1d;
}

.texto__sobremi2{
    margin-top: 50px;
}

/* MAIN---------------------- PRODUCTOS*/

.hero__productos{
    height: 100vh;
    background-color: #e0e0e0;
    scroll-margin-top: 100px;
}

.titulo__productos{
    padding-top: 30px;
    text-align: center;
    font-size: 1.5rem;
}